<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLinkActive="tab-selected" routerLink="/dashboard" class="ios" tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/post" class="ios" tab="make-appointment">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>post</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLinkActive="tab-selected" routerLink="/conversation" class="ios" tab="conversation">
     <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>chat</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>